ion-menu {
        --ion-text-color: var(--ion-color-new-contrast);
        --ion-background-color: var(--ion-color-new);
        
    ion-toolbar {
      --background: var(--ion-color-new);
    }
  
    ion-list {/* optional, but it needs when you use gradient as a background color.*/
      background: transparent;
    }

  }

 ion-item{

    --background: var(--ion-color-new);

    
 }